Repository SinLess-Games-LLC/Helix, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, entity, shared-ui, Utilities, e2e, Documentation, Docker, Dependencies

created tests
  apps/gateway-api/src/app/app.controller.spec.ts
  apps/gateway-api/src/app/app.service.spec.ts
  apps/health-check/src/app/app.service.spec.ts
Labels: backend

created database module for health check
  apps/gateway-api/src/app/database/database.controller.ts
  apps/gateway-api/src/app/database/database.module.ts
  apps/gateway-api/src/app/database/database.service.ts
Labels: backend

added database and health modules
  apps/gateway-api/src/app/app.module.ts
Labels: backend

created Health module
  apps/gateway-api/src/app/health/health.controller.ts
  apps/gateway-api/src/app/health/health.module.ts
  apps/gateway-api/src/app/health/health.service.ts
Labels: backend

changed route path
  apps/gateway-api/src/app/database/database.controller.ts
Labels: backend

created health check path with a database check
  apps/gateway-api/src/app/health/health.controller.ts
  apps/gateway-api/src/app/health/health.service.ts
Labels: backend

added gateway api health check
  apps/health-check/src/app/app.components/gateway.api.component.ts
  apps/health-check/src/app/app.components/index.ts
Labels: none

added position to create componed consts
  apps/health-check/src/app/app.components/cloudflare.component.ts
  apps/health-check/src/app/app.components/discord.bot.component.ts
  apps/health-check/src/app/app.components/discord.component.ts
  apps/health-check/src/app/app.components/gateway.api.component.ts
  apps/health-check/src/app/app.components/mysql.component.ts
Labels: none

added ioredis and removed some unused modules
  package-lock.json
  package.json
Labels: Dependencies

created redis component and health check
  apps/health-check/src/app/app.components/index.ts
  apps/health-check/src/app/app.components/redis.component.ts
Labels: none

removed global prefix, removed tests
  apps/discord-bot/src/utils/helix.client.ts
  apps/gateway-api/src/main.ts
  apps/health-check/src/app/app.controller.spec.ts
  apps/health-check/src/app/app.service.spec.ts
  apps/health-check/src/main.ts
Labels: backend

changed volume mounts
  docker/api-gateway.yaml
  docker/mysql.yaml
  docker/redis.yaml
Labels: none

removed /api/v1 prefix
  apps/gateway-api/src/app/health/health.controller.ts
  apps/gateway-api/src/app/health/health.service.ts
  apps/health-check/src/app/app.components/discord.bot.component.ts
  apps/health-check/src/app/app.components/gateway.api.component.ts
Labels: backend

changed mount path
  docker/api-gateway.yaml
Labels: none

removed old api-gateway setup
  docker/api-gateway.yaml
  docker/redis.yaml
Labels: none

configure vault
  docker/vault/config/vault-config.json
  docker/vault/data/.gitkeep
  docker/vault/logs/.gitkeep
  docker/vault/policies/app-policy.json
Labels: none

configure healthcheck
  docker/mysql.yaml
Labels: none

configure vault
  docker/vault/Dockerfile
Labels: none

configure consul and vault
  .gitignore
  docker/consul.yaml
  docker/consul/Dockerfile
  docker/consul/config/client.json
  docker/consul/config/server1.json
  docker/consul/config/server2.json
  docker/consul/config/server3.json
  docker/consul/data/.gitkeep
  docker/vault/config/vault-config.json
  docker/vault/policies/policy.json
Labels: none

.github/labeler.yml:

# .github/labeler.yml

frontend:
  - changed-files:
      - any-glob-to-any-file: 'apps/frontend/**/*'

backend:
  - changed-files:
      - any-glob-to-any-file:
          - 'apps/gateway-api/**/*'

entity:
  - changed-files:
      - any-glob-to-any-file: 'libs/entities/**/*'

shared-ui:
  - changed-files:
      - any-glob-to-any-file: 'libs/shared-react-ui/**/*'

Utilities:
  - changed-files:
      - any-glob-to-any-file: 'libs/helix-utilities/**/*'

e2e:
  - changed-files:
      - any-glob-to-any-file:
          - 'apps/frontend-e2e/**/*'
          - 'apps/gateway-api-e2e/**/*'

Documentation:
  - changed-files:
      - any-glob-to-any-file: 'DOCS/**/*'

Docker:
  - changed-files:
      - any-glob-to-any-file:
          - 'docker/**/*.yml'
          - 'apps/**/Dockerfile'

Dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - 'package.json'
          - '**/package.json'

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
  - head-branch: ['^feature', 'feature']

# Add 'release' label to any PR that is opened against the `main` branch
release:
  - base-branch: 'master'
