Repository SinLess-Games-LLC/Helix, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, entity, shared-ui, Utilities, e2e, Documentation, Docker, Dependencies

.github/labeler.yml:

# .github/labeler.yml

frontend:
  - changed-files:
      - any-glob-to-any-file: 'apps/frontend/**/*'

backend:
  - changed-files:
      - any-glob-to-any-file:
          - 'apps/gateway-api/**/*'

entity:
  - changed-files:
      - any-glob-to-any-file: 'libs/entities/**/*'

shared-ui:
  - changed-files:
      - any-glob-to-any-file: 'libs/shared-react-ui/**/*'

Utilities:
  - changed-files:
      - any-glob-to-any-file: 'libs/helix-utilities/**/*'

e2e:
  - changed-files:
      - any-glob-to-any-file:
          - 'apps/frontend-e2e/**/*'
          - 'apps/gateway-api-e2e/**/*'

Documentation:
  - changed-files:
      - any-glob-to-any-file: 'DOCS/**/*'

Docker:
  - changed-files:
      - any-glob-to-any-file:
          - 'docker/**/*.yml'
          - 'apps/**/Dockerfile'

Dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - 'package.json'
          - '**/package.json'

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
  - head-branch: ['^feature', 'feature']

# Add 'release' label to any PR that is opened against the `main` branch
release:
  - base-branch: 'master'

format
  README.md
Labels: none

testing precommit
  DOCS/CloudNativeLandscape.md
Labels: Documentation

Keep calm and commit
  .gitignore
  .prettierignore
  DOCS/CloudNativeLandscape.md
  DOCS/images/logos/Helix-AI.svg
  docker/lavalink/nginx.conf
Labels: Documentation

added LICENSE
  LICENSE
Labels: none

edits
  LICENSE
  README.md
Labels: none

edits
  README.md
  package.json
Labels: Dependencies

testing hook
  package.json
Labels: Dependencies

testing hooks
  package.json
Labels: Dependencies

testing hooks 3
  .husky/pre-commit
  package-lock.json
  package.json
Labels: Dependencies

testing hooks 4
  apps/frontend/app/page.tsx
Labels: frontend

updated precommit to run lint, format, and test
  .husky/pre-commit
  package.json
Labels: Dependencies

updated precommit to run lint, format, and test
  apps/frontend/app/page.tsx
Labels: frontend

updated precommit to run lint, format, and test
  DOCS/HelixAi.md
  apps/frontend/app/page.tsx
Labels: frontend, Documentation

Added code of conduct and code style guide lines
  CODE_OF_CONDUCT.md
  CODE_STYLE_GUIDELINES.md
  README.md
Labels: none

Created workflow to create a pull request
  .github/workflows/open-pr.yml
  DOCS/The App/Packages.md
Labels: Documentation

finishing off documentation start
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
  DOCS/The App/Packages.md
Labels: Documentation

Generate nest project and configure database connection
  apps/discord-api-e2e/.eslintrc.json
  apps/discord-api-e2e/jest.config.ts
  apps/discord-api-e2e/project.json
  apps/discord-api-e2e/src/discord-api/discord-api.spec.ts
  apps/discord-api-e2e/src/support/global-setup.ts
  apps/discord-api-e2e/src/support/global-teardown.ts
  apps/discord-api-e2e/src/support/test-setup.ts
  apps/discord-api-e2e/tsconfig.json
  apps/discord-api-e2e/tsconfig.spec.json
  apps/discord-api/.eslintrc.json
  apps/discord-api/jest.config.ts
  apps/discord-api/project.json
  apps/discord-api/src/app/app.controller.spec.ts
  apps/discord-api/src/app/app.controller.ts
  apps/discord-api/src/app/app.module.ts
  apps/discord-api/src/app/app.service.spec.ts
  apps/discord-api/src/app/app.service.ts
  apps/discord-api/src/assets/.gitkeep
  apps/discord-api/src/main.ts
  apps/discord-api/tsconfig.app.json
  apps/discord-api/tsconfig.json
  apps/discord-api/tsconfig.spec.json
  apps/discord-api/webpack.config.js
  libs/entities/src/index.ts
Labels: entity

Update open-pr.yml
  .github/workflows/open-pr.yml
Labels: none

Generate nest project and configure database connection
  .github/workflows/open-pr.yml
Labels: none

Update open-pr.yml
  .github/workflows/open-pr.yml
Labels: none

Generate nest project and configure database connection
  .github/workflows/open-pr.yml
Labels: none

Update open-pr.yml
  .github/workflows/open-pr.yml
Labels: none

Generate nest project and configure database connection
  .github/workflows/open-pr.yml
Labels: none

Update open-pr.yml
  .github/workflows/open-pr.yml
Labels: none

Generate nest project and configure database connection
  .github/workflows/open-pr.yml
Labels: none

Update open-pr.yml
  .github/workflows/open-pr.yml
Labels: none

fixing pr creator
  .github/workflows/open-pr.yml
Labels: none

Update open-pr.yml
  .github/workflows/open-pr.yml
Labels: none

fixing pr creator
  .github/workflows/open-pr.yml
Labels: none

Update open-pr.yml
  .github/workflows/open-pr.yml
Labels: none

fixing pr creator
  .github/workflows/open-pr.yml
Labels: none

Update open-pr.yml
  .github/workflows/open-pr.yml
Labels: none

fixing pr creator
  .github/workflows/open-pr.yml
Labels: none

Update open-pr.yml
  .github/workflows/open-pr.yml
Labels: none

fixing pr creator
  .github/workflows/open-pr.yml
Labels: none

Update open-pr.yml
  .github/workflows/open-pr.yml
Labels: none

fixing pr creator
  .github/workflows/open-pr.yml
Labels: none

Fixed tests for discord feature/Discord-API
  apps/discord-api-e2e/src/discord-api/discord-api.spec.ts
  apps/discord-api/src/app/app.controller.spec.ts
  apps/discord-api/src/app/app.service.spec.ts
  apps/discord-api/src/app/app.service.ts
  package.json
Labels: Dependencies

Built Logger for @helix/utilities
  apps/discord-api/src/main.ts
  apps/frontend/package.json
  libs/helix-utilities/src/Logger/index.ts
  libs/helix-utilities/src/index.ts
Labels: frontend, Utilities, Dependencies

Setup some basics for discord Bot
  DOCS/images/sinless-games/1.jpg
  DOCS/images/sinless-games/2.jpg
  DOCS/images/sinless-games/3.jpg
  DOCS/images/sinless-games/4.jpg
  DOCS/images/sinless-games/5.jpg
  DOCS/images/sinless-games/6.jpg
  apps/discord-api/src/app/app.controller.spec.ts
  apps/discord-api/src/app/app.controller.ts
  apps/discord-api/src/app/app.module.ts
  apps/discord-api/src/app/app.service.spec.ts
  apps/discord-api/src/app/app.service.ts
  apps/discord-api/src/app/app.types.ts
  apps/discord-api/src/app/bot/bot.constants.ts
  apps/discord-api/src/app/bot/bot.gateway.ts
  apps/discord-api/src/app/bot/bot.module.ts
  apps/discord-api/src/app/bot/bot.types.ts
  apps/discord-api/src/app/bot/commands/utility/invite.command.ts
  apps/discord-api/src/app/bot/commands/utility/ping.command.ts
  apps/discord-api/src/app/bot/commands/utility/status.command.ts
  apps/discord-api/src/app/bot/commands/utility/utility.types.ts
  apps/discord-api/src/app/bot/discord-config.service.ts
  apps/discord-api/src/main.ts
  apps/gateway-api/src/main.ts
  libs/helix-utilities/src/Config/index.ts
  libs/helix-utilities/src/Config/interfaces/Lavalink.interface.ts
  libs/helix-utilities/src/Logger/index.ts
  libs/helix-utilities/src/colors.ts
  libs/helix-utilities/src/index.ts
  package-lock.json
  package.json
Labels: backend, Utilities, Documentation, Dependencies
