Repository SinLess-Games-LLC/Helix, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, entity, shared-ui, Utilities, e2e, Documentation, Docker, Dependencies

Built custom discord bot, command handler, and event handlers
  apps/frontend/app/page.tsx
  apps/gateway-api/src/app/trpc/User.route.ts
  apps/gateway-api/src/app/trpc/trpc.router.ts
  apps/gateway-api/src/main.ts
  libs/entities/src/entities/account.entity.ts
  libs/entities/src/entities/discord/guild.entity.ts
  libs/entities/src/entities/session.entity.ts
Labels: frontend, backend, entity

Built custom discord bot, command handler, and event handlers
  apps/discord-bot/src/commands/utility/bot-invite.command.ts
Labels: none

Listed Command Function Groups and added the primary groups to command.group.enum.ts
  DOCS/Notes/Discord-Function-Groups.md
  apps/discord-bot/src/commands/music/connect.command.ts
  apps/discord-bot/src/commands/utility/purge.command.ts
  apps/discord-bot/src/enums/command.group.enum.ts
Labels: Documentation

added specified column types to entities may need to change them later
  libs/entities/src/entities/account.entity.ts
  libs/entities/src/entities/discord/data.entity.ts
  libs/entities/src/entities/discord/guild.entity.ts
  libs/entities/src/entities/discord/image.entity.ts
  libs/entities/src/entities/discord/pastebin.entity.ts
  libs/entities/src/entities/discord/stat.entity.ts
  libs/entities/src/entities/discord/statistics/dailyStats.entity.ts
  libs/entities/src/entities/discord/statistics/monthlyStats.entity.ts
  libs/entities/src/entities/discord/statistics/weeklyStats.entity.ts
  libs/entities/src/entities/discord/statistics/yearlyStats.entity.ts
  libs/entities/src/entities/discord/user.entity.ts
  libs/entities/src/entities/microservice.entity.ts
  libs/entities/src/entities/news.entity.ts
  libs/entities/src/entities/session.entity.ts
  libs/entities/src/entities/technology.entity.ts
  libs/entities/src/entities/user-profile.entity.ts
  libs/entities/src/entities/user-setting.entity.ts
  libs/entities/src/entities/user.entity.ts
  libs/entities/tsconfig.json
Labels: entity

Added enabled to Helix Configuration Logging
  libs/helix-utilities/src/Config/index.ts
  libs/helix-utilities/src/Config/interfaces/Logging.interface.ts
  libs/helix-utilities/src/Logger/index.ts
  libs/helix-utilities/src/globals.d.ts
Labels: Utilities

Added basic database functions and setup to discord bot
  apps/discord-bot/src/utils/database.constants.ts
  apps/discord-bot/src/utils/database.functions.ts
Labels: none

Added stop functionality to handle keyboard interrupt
  apps/discord-bot/src/main.ts
Labels: none

Added status site urls
  apps/discord-bot/src/utils/bot.constants.ts
Labels: none

Broke down StatusResponse so that status has it's own interface named Status
  apps/discord-bot/src/typings/bot.types.ts
Labels: none

created a functions file for the api to use
  apps/discord-bot/src/utils/api.functions.ts
Labels: none

Created Health router to display health status of dependent services
  apps/discord-bot/src/routers/health.router.ts
Labels: none

added the database to the client, and did some graceful error handling
  apps/discord-bot/src/utils/helix.client.ts
Labels: none

fixes and continued work on the health router
  apps/discord-bot/src/commands/music/connect.command.ts
  apps/discord-bot/src/main.ts
  apps/discord-bot/src/routers/health.router.ts
  apps/discord-bot/src/typings/bot.types.ts
  apps/discord-bot/src/typings/status.types.ts
  apps/discord-bot/src/utils/api.functions.ts
  apps/discord-bot/src/utils/database.constants.ts
  apps/discord-bot/src/utils/database.functions.ts
  apps/discord-bot/src/utils/helix.client.ts
  apps/discord-bot/tsconfig.app.json
  docker/redis.yaml
  libs/entities/src/entities/discord/data.entity.ts
  libs/entities/src/entities/discord/guild.entity.ts
  libs/entities/src/entities/discord/image.entity.ts
  libs/entities/src/entities/discord/index.ts
  libs/entities/src/entities/microservice.entity.ts
  libs/entities/src/entities/session.entity.ts
  libs/entities/src/index.ts
  libs/helix-utilities/src/Config/index.ts
  package-lock.json
  package.json
Labels: entity, Utilities, Dependencies

reverted deleting package.jsons from libs
  .eslintrc.json
  libs/entities/.eslintrc.json
  libs/entities/package.json
  libs/entities/src/entities/discord/stat.entity.ts
  libs/helix-utilities/package.json
  libs/helix-utilities/src/Config/index.ts
  libs/shared-react-ui/package.json
Labels: entity, shared-ui, Utilities, Dependencies

reverted deleting package.jsons from libs
  libs/entities/src/entities/discord/index.ts
  libs/entities/src/index.ts
Labels: entity

Added a step to skip this workflow if the pr already exists
  .github/workflows/open-pr.yml
Labels: none

1...
  DOCS/Notes/Suggestions.md
  DOCS/Notes/Tech.md
  DOCS/Notes/frontend_techs.md
  DOCS/system-design.svg
  apps/discord-bot/src/typings/bot.types.ts
  apps/discord-bot/src/utils/bot.constants.ts
  apps/discord-bot/src/utils/database.constants.ts
  apps/discord-bot/src/utils/helix.client.ts
  libs/entities/src/entities/discord/base.entity.ts
  libs/entities/src/entities/discord/guild.entity.ts
  libs/entities/src/entities/discord/image.entity.ts
  libs/entities/src/entities/discord/pastebin.entity.ts
  libs/entities/src/entities/discord/statistics/dailyStats.entity.ts
  libs/entities/src/entities/discord/statistics/monthlyStats.entity.ts
  libs/entities/src/entities/discord/statistics/weeklyStats.entity.ts
  libs/entities/src/entities/discord/statistics/yearlyStats.entity.ts
  libs/entities/src/entities/discord/user.entity.ts
  libs/entities/src/entities/microservice.entity.ts
  libs/entities/src/entities/news.entity.ts
  libs/entities/src/entities/technology.entity.ts
  libs/entities/src/entities/user-profile.entity.ts
  libs/entities/src/entities/user-setting.entity.ts
  libs/entities/src/entities/user.entity.ts
  libs/entities/tsconfig.json
  libs/helix-utilities/src/Errors/error.constants.ts
  libs/helix-utilities/src/Errors/error.type.ts
  libs/helix-utilities/src/Errors/index.ts
  libs/helix-utilities/src/colors.ts
  libs/helix-utilities/src/colors.type.ts
  libs/helix-utilities/src/constants.ts
  libs/helix-utilities/src/functions.ts
  libs/helix-utilities/src/index.ts
Labels: entity, Utilities, Documentation

Update LICENSE
  LICENSE
Labels: none

generated health-check api
  apps/discord-bot/src/utils/helix.client.ts
  apps/health-check-e2e/.eslintrc.json
  apps/health-check-e2e/jest.config.ts
  apps/health-check-e2e/project.json
  apps/health-check-e2e/src/health-check/health-check.spec.ts
  apps/health-check-e2e/src/support/global-setup.ts
  apps/health-check-e2e/src/support/global-teardown.ts
  apps/health-check-e2e/src/support/test-setup.ts
  apps/health-check-e2e/tsconfig.json
  apps/health-check-e2e/tsconfig.spec.json
  apps/health-check/.eslintrc.json
  apps/health-check/jest.config.ts
  apps/health-check/project.json
  apps/health-check/src/app/app.controller.spec.ts
  apps/health-check/src/app/app.controller.ts
  apps/health-check/src/app/app.module.ts
  apps/health-check/src/app/app.service.spec.ts
  apps/health-check/src/app/app.service.ts
  apps/health-check/src/assets/.gitkeep
  apps/health-check/src/main.ts
  apps/health-check/tsconfig.app.json
  apps/health-check/tsconfig.json
  apps/health-check/tsconfig.spec.json
  apps/health-check/webpack.config.js
  docker/api-gateway.yaml
Labels: none

restructured entities to have a more useful import/export structure, also added typeorm module to healthcheck api and created the health entity
  apps/gateway-api/src/app/app.module.ts
  apps/health-check/src/app/app.module.ts
  apps/health-check/src/main.ts
  docker/api-gateway.yaml
  libs/entities/src/entities/base.entity.ts
  libs/entities/src/entities/discord/guild.entity.ts
  libs/entities/src/entities/discord/image.entity.ts
  libs/entities/src/entities/discord/index.ts
  libs/entities/src/entities/discord/pastebin.entity.ts
  libs/entities/src/entities/discord/statistics/dailyStats.entity.ts
  libs/entities/src/entities/discord/statistics/monthlyStats.entity.ts
  libs/entities/src/entities/discord/statistics/weeklyStats.entity.ts
  libs/entities/src/entities/discord/statistics/yearlyStats.entity.ts
  libs/entities/src/entities/discord/user.entity.ts
  libs/entities/src/entities/index.ts
  libs/entities/src/entities/site/index.ts
  libs/entities/src/entities/site/microservice.entity.ts
  libs/entities/src/entities/site/news.entity.ts
  libs/entities/src/entities/site/technology.entity.ts
  libs/entities/src/entities/system/health.entity.ts
  libs/entities/src/entities/system/index.ts
  libs/entities/src/entities/user/account.entity.ts
  libs/entities/src/entities/user/index.ts
  libs/entities/src/entities/user/session.entity.ts
  libs/entities/src/entities/user/user-profile.entity.ts
  libs/entities/src/entities/user/user-setting.entity.ts
  libs/entities/src/entities/user/user.entity.ts
  libs/entities/src/enums/index.ts
  libs/entities/src/index.ts
Labels: backend, entity

restructured entities to have a more useful import/export structure, also added typeorm module to healthcheck api and created the health entity
  apps/health-check/src/app/app.module.ts
  libs/entities/src/entities/discord/image.entity.ts
  libs/entities/src/entities/discord/pastebin.entity.ts
  libs/entities/src/entities/discord/statistics/dailyStats.entity.ts
  libs/entities/src/entities/discord/statistics/monthlyStats.entity.ts
  libs/entities/src/entities/discord/statistics/weeklyStats.entity.ts
  libs/entities/src/entities/discord/statistics/yearlyStats.entity.ts
  libs/entities/src/entities/site/microservice.entity.ts
  libs/entities/src/entities/site/news.entity.ts
  libs/entities/src/entities/site/technology.entity.ts
  libs/entities/src/entities/system/health.entity.ts
  libs/entities/src/entities/user/user-profile.entity.ts
  libs/entities/src/index.ts
Labels: entity

created a individual file system for components of the Helix ecosystem
  apps/discord-bot/src/utils/api.functions.ts
  apps/health-check/src/app/app.components/base.component.ts
  apps/health-check/src/app/app.components/cloudflare.component.ts
  apps/health-check/src/app/app.components/discord.bot.component.ts
  apps/health-check/src/app/app.components/discord.component.ts
  apps/health-check/src/app/app.components/mysql.component.ts
Labels: none

created a individual file system for components of the Helix ecosystem
  apps/discord-bot/src/utils/api.functions.ts
  apps/health-check/src/app/app.components/cloudflare.component.ts
  apps/health-check/src/app/app.components/discord.bot.component.ts
  apps/health-check/src/app/app.components/discord.component.ts
  apps/health-check/src/app/app.components/mysql.component.ts
Labels: none

created database module for health checking
  apps/health-check/src/app/database/database.controller.ts
  apps/health-check/src/app/database/database.module.ts
  apps/health-check/src/app/database/database.service.ts
Labels: none

created priority enum for components
  apps/health-check/src/app/app.components/index.ts
  apps/health-check/src/app/app.components/priority.enum.ts
Labels: none

created priority enum for components
  apps/health-check/src/app/app.components/index.ts
Labels: none

remove trpc router and user router for trpc
  apps/gateway-api/src/app/trpc/User.route.ts
  apps/gateway-api/src/app/trpc/trpc.router.ts
Labels: backend

changed id to sid
  apps/gateway-api/src/app/microservice/microservice.service.ts
  apps/gateway-api/src/app/news/news.service.ts
  apps/gateway-api/src/app/technology/technology.service.ts
  apps/gateway-api/src/app/user-profile/user-profile.service.ts
  apps/gateway-api/src/app/user-settings/user-settings.service.ts
  apps/gateway-api/src/app/user/user.service.ts
Labels: backend

added database module
  apps/health-check/src/app/app.module.ts
Labels: none

added http link to the api started log output
  apps/discord-bot/src/utils/helix.client.ts
Labels: none

changed enities import from default to named
  apps/discord-bot/src/utils/database.constants.ts
Labels: none

changed getData to getStatus
  apps/gateway-api/src/app/app.controller.ts
Labels: backend

removed UserRouter, TrpcRouter
  apps/gateway-api/src/app/app.module.ts
Labels: backend

created root metrics data
  apps/gateway-api/src/app/app.service.ts
Labels: backend

created health data and some system checks
  apps/health-check/src/app/app.service.ts
Labels: none

chanded how the constants were named
  libs/helix-utilities/src/constants.ts
Labels: Utilities

cleaned up logging
  apps/discord-bot/src/routers/health.router.ts
Labels: none

added libs - esnext - dom
  apps/discord-bot/tsconfig.json
Labels: none

fixed status type for MinimalStatusResponse
  apps/discord-bot/src/typings/status.types.ts
Labels: none

changed global prefix
  apps/gateway-api/src/main.ts
Labels: backend

.github/labeler.yml:

# .github/labeler.yml

frontend:
  - changed-files:
      - any-glob-to-any-file: 'apps/frontend/**/*'

backend:
  - changed-files:
      - any-glob-to-any-file:
          - 'apps/gateway-api/**/*'

entity:
  - changed-files:
      - any-glob-to-any-file: 'libs/entities/**/*'

shared-ui:
  - changed-files:
      - any-glob-to-any-file: 'libs/shared-react-ui/**/*'

Utilities:
  - changed-files:
      - any-glob-to-any-file: 'libs/helix-utilities/**/*'

e2e:
  - changed-files:
      - any-glob-to-any-file:
          - 'apps/frontend-e2e/**/*'
          - 'apps/gateway-api-e2e/**/*'

Documentation:
  - changed-files:
      - any-glob-to-any-file: 'DOCS/**/*'

Docker:
  - changed-files:
      - any-glob-to-any-file:
          - 'docker/**/*.yml'
          - 'apps/**/Dockerfile'

Dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - 'package.json'
          - '**/package.json'

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
  - head-branch: ['^feature', 'feature']

# Add 'release' label to any PR that is opened against the `main` branch
release:
  - base-branch: 'master'
